:root, html[data-theme='light'] {
  /* Color palette */
  /* Light Palette */
  --primary: #6745C4;
  --primaryAlt: #8064CE;
  --subheading: #0c7e7c;
  --text: #223127;
  --text-opacity: rgba(34, 49, 39, 0.8);
  --background: #F9F5ED;
  --card-bg: #F4FFFD;
  --white: #FFFDF7;
  --navBorder: rgba(233, 220, 188, 0.63);
  --light-beige: #f9f5ed;
  /* Base rem size */
  font-size: 10px;
}
:root[data-theme='dark']{
  /* Dark Palette */
  --primary: #6745C4;
  --primaryAlt: #8064CE;
  --subheading: #33c7c4;
  --text: #f9f5ed;
  --text-opacity: rgba(249, 245, 237, 0.7);
  --background: #232430;
  --card-bg: #2a3439;
  --white: #FFFDF7;
  --text-opacity: rgba(249, 245, 237, 0.7);
  --navBorder: rgba(249, 245, 237, 0.7);
}
body {
  /* Reset and global styles*/
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito", "system-ui";
  background-color: var(--background);
  scroll-behavior: smooth;
}
/* Navigation bar */
.navbar-brand {
  font-size: 3.2rem;
  color: var(--subheading);
}
.navbar-brand:hover,
.navbar-brand:active,
.navbar-brand:focus {
  color: var(--subheading);
}
#navContainer {
  border-bottom: 2px solid var(--navBorder);
}
/* Icons in navbar, experience section, projects and some buttons */
.navIcon,
.jobIcon,
.actionIcon {
  width: 3.2rem;
  height: 3.2rem;
  transition: transform ease-in-out 0.3s;
}
.jobIcon,
.actionIcon {
  margin-right: 1rem;
}
.jobIcon:hover {
  transform: scale(1.5);
}
/* Icon container in project cards */
.iconWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
}
/* About section */
#myPhoto {
  object-fit: cover;
  border-radius: 100%;
  box-shadow: 0px 8px 24px 0px rgba(57, 55, 52, 0.1);
}
#contactButton {
  text-align: center;
  height: 6rem;
  border: none;
  outline: none;
  border-radius: 1.2rem;
  font-size: 2.4rem;
  font-weight: bold;
  background-color: var(--primary);
  color: var(--white);
  padding: 1rem 3rem;
  text-decoration: none;
  display: inline-block;
  margin-top: 2rem;
  box-shadow: 0px 8px 24px 0px rgba(57, 55, 52, 0.1);
  transition: background ease-in-out 0.3s;
}
#contactButton:hover,
.contactButtons:hover {
  background-color: var(--primaryAlt);
}
#contactButton:active,
.contactButtons:active {
  background-color: var(--primaryAlt) !important;
}
.contactButtons:hover,
.contactButtons:active{
  scale: 1.1;
}
#aboutDescription {
  word-wrap: break-word;
  font-size: 2.4rem;
  overflow-wrap: break-word;
  color: var(--text-opacity);
}
/* Headings */
h1 {
  color: var(--text);
  font-size: 6.4rem;
}
h2 {
  font-size: 3.2rem;
  color: var(--subheading);
}
/* Mail and resume buttons, may change */
.contactButtons {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 1.2rem;
  font-size: 2.4rem;
  font-weight: bold;
  background-color: var(--primary);
  color: var(--white);
  padding: 1rem 3rem;
  text-decoration: none;
  box-shadow: 0px 8px 24px 0px rgba(57, 55, 52, 0.1);
  width: 30rem;
  transition: scale ease-in-out 0.3s;
}
#contactMessage {
  font-size: 4.8rem;
  color: var(--text-opacity);
  max-width: 15ch;
}
.contactButtons.secondary {
  background-color: transparent;
  color: #CF4D6F;
  outline: 1px solid #CF4D6F;
  transition: scale ease-in-out 0.3s;
}
.contactButtons.secondary:hover,
.contactButtons.secondary:active {
  scale: 1.1;
  background-color: transparent !important;
  color: #CF4D6F !important;
}
/* Project Card buttons */
.card {
  width: 40.8rem;
  background-color: var(--card-bg);
  border: none;
  border-radius: 2.2rem;
  filter: drop-shadow(0px 4px 18px rgba(57, 55, 52, 0.1));
}
.projectButton {
  padding: 1rem 3rem;
  border: none;
  outline: none;
  border-radius: 1.2rem;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: var(--primary);
  color: var(--white);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background ease-in-out 0.3s;
}
.projectButton:hover {
  background-color: var(--primaryAlt);
  color: var(--white);
}
.projectButton:active {
  background-color: var(--primaryAlt) !important;
}
/* Project Card toggle button (when available) */
.toggleDropdown {
  background-color: var(--primary);
  border: none;
  border-radius: 1.2rem;
  width: 3rem;
}

.toggleDropdown:hover,
.toggleDropdown:active,
.toggleDropdown:focus {
  background-color: var(--primaryAlt) !important;
}
.toggleDropdown.show {
  background-color: var(--primaryAlt) !important;
}

/* Link inside toggle */
a.dropdown-item {
  font-size: 1.4rem;
}
/* Project Cards */
.projectTitle {
  color: var(--text);
  font-size: 2.4rem;
  font-weight: bold;
}
.projectText {
  color: var(--text-opacity);
  font-size: 1.8rem;
}

.sectionHeading {
  font-size: 3.2rem;
  color: var(--text);
  text-align: center;
  padding-bottom: 1rem;
  font-weight: bold;
}
/* Jobs */
.date {
  font-size: 1.8rem;
  color: var(--text-opacity);
  line-height: 0;
}
.job {
  border-left: 1px solid var(--subheading);
  position: relative;
}
.jobTitle {
  font-size: 2.4rem;
  color: var(--text);
  font-weight: bold;
  line-height: 3rem;
}
.jobDescription {
  font-size: 1.6rem;
  color: var(--text-opacity);
  /* font-weight: bold; */
}
.circle {
  width: 1.1rem;
  height: 1.1rem;
  background-color: var(--subheading);
  display: inline-block;
  border-radius: 100%;
  position: absolute;
  left: -0.6rem;
}
section {
  margin-top: 14rem;
}

/* Mobile view photo */
/* Screens with 575px width or less */
@media screen and (max-width: 575px) {
  #photoColumn {
    justify-content: center;
    margin-top: 5rem;
  }
  body {
    padding: 0 1rem;
  }
}
/* Screens with 767px width or less */
@media screen and (max-width: 767px) {
  .contactButtons {
    width: 100%;
    margin-bottom: 1rem;
  }
  #basic-navbar-nav{
    padding-bottom: 1rem;
  }
  #animatedGif{
    margin-bottom: 3rem;
  }
}
/* Screens with 576px width or more */
@media screen and (min-width: 576px) {
  #photoColumn {
    justify-content: flex-end;
    padding: 0;
  }
}
/* Screens with 992px width or more */
@media screen and (min-width: 992px) {
  #photoColumn {
    justify-content: right;
    padding-right: 5rem;
  }
}

/* Dark Mode switch */
/* The switch - the box around the slider */
.switch {
  display: block;
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1.4em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--navBorder);
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon,1.4em);
  width: var(--size-of-icon,1.4em);
  border-radius: 20px;
  left: var(--slider-offset,0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
  ;
 transition: .4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
  background: #303136;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}